.content {
  display: block;

  &:deep(.wp-block-image),
  &:deep(.wp-video) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    width: 100% important;

    img,
    video {
      flex: 1;
      max-width: 40vw;
      height: auto;
    }

    figcaption {
      flex: 1;
      margin: 5px 0;
      font-variant: small-caps;
    }
  }

  &:deep(audio) {
    max-width: 40vw;
  }

  &:deep(p) {
    img {
      display: block;
      width: 40vw;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
