@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

body {
  font-family: "Special Elite", Courier, monospace;
  font-size: 18px;
  letter-spacing: 1px;
}

/* remove styling from all uls */
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.contact-form {
  .grunion-field-wrap {
    input,
    textarea {
      margin: 10px 0;
      display: block;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid;
    }
  }

  button {
    padding: 5px;
  }
}
